# Model Tracking UCI exercise

This notebook contains an exercise solution to train a Support Vecto Machine (SVM) on an UCI dataset using the MLflow tracking server to log all the used parameters, metrics and models.

The first step is to import all the required libraries

Set the tracking URI to let the mlflow client know where the tracking server is running. In this case, the server is running locally. If the tracnking server is runnig in a remote host, its IP must be set.

Verify that the MLflow client is pointing to the correct endpoints

http://localhost:80

Define a function to evaluate the model. For classification problems we will user precision_score, recall_score and f1_score. Se sklearn [documentation](https://scikit-learn.org/stable/modules/model_evaluation.html) for further details.

Download the Iris dataset from the UCI repository.

Hint: this dataset does not contain headers, set columns names manually

Explore briefly the dataset

In [16]:
data

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

Note that the class column is discrete and we need a numerical class

First, chech how many unique values has the class column

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

Replace string classes by integers and explore the data again

Hint: check [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html) for further details.

,sepal_length_in_cm,sepal_width_in_cm,petal_length_in_cm,petal_width_in_cm,class
0,5.1,3.5,1.4,0.2,1
1,4.9,3.0,1.4,0.2,1
2,4.7,3.2,1.3,0.2,1
3,4.6,3.1,1.5,0.2,1
4,5.0,3.6,1.4,0.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,3
146,6.3,2.5,5.0,1.9,3
147,6.5,3.0,5.2,2.0,3
148,6.2,3.4,5.4,2.3,3
149,5.9,3.0,5.1,1.8,3

Split the dataset into train a test datasets. Note the target variable is the column "class" (the class to predict), and the rest of the variables refer to features of the model.

Train shape: (112, 4)
Train shape: (38, 4)

Define a function to train the model. In this example, the SVM model takes 2 input parameters or more (hyperparameters), which can be modified to chnage the model's behavior:
- kernel
- C

To track the hyperparameters introduced by the user, MLflow provides a ``log_param(name, value)`` function in whict the name of the parameter and its corresponding values must be set.

To evaluate the model, 3 metrics are defined:
- accuracy
- recall
- f1

To track the metrics after evaluating the model, MLflow provides a ``log_metric(name, value)`` function in whict the name of the parameter and its corresponding values must be set.

Define a function to track the model manually

Create a parameters dictionary with hyperparameter values

Execute the training function with manual tracking

This is fine but it has more sense if we use the power of the GridSeach library provided by sckit-learn.

Define a function to track the model with autolog and gridsearch

Execute the training function with automatic tracking

Go to the MLflow UI (http://localhost:80) to see the results of all the runs within the experiment and its corresponding models